USE [master]
GO
/****** Object:  Database [RestauranteDBMaia]    Script Date: 17/8/2026 20:38:30 ******/
CREATE DATABASE [RestauranteDBMaia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestauranteDBMaia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RestauranteDBMaia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestauranteDBMaia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RestauranteDBMaia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestauranteDBMaia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestauranteDBMaia]
GO
/****** Object:  User [Prog2]    Script Date: 17/8/2026 20:38:31 ******/
CREATE USER [Prog2] FOR LOGIN [Prog2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Prog2]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 17/8/2026 20:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdPlato] [int] NOT NULL,
	[Mesa] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platos]    Script Date: 17/8/2026 20:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platos](
	[IdPlato] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Platos] PRIMARY KEY CLUSTERED 
(
	[IdPlato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IdPedido], [IdPlato], [Mesa], [Cantidad], [Estado], [FechaHora], [Activo]) VALUES (1, 1, 3, 2, N'Entregado', CAST(N'2026-08-13T20:08:57.067' AS DateTime), 1)
INSERT [dbo].[Pedidos] ([IdPedido], [IdPlato], [Mesa], [Cantidad], [Estado], [FechaHora], [Activo]) VALUES (2, 3, 1, 21, N'Entregado', CAST(N'2026-08-13T20:08:57.067' AS DateTime), 1)
INSERT [dbo].[Pedidos] ([IdPedido], [IdPlato], [Mesa], [Cantidad], [Estado], [FechaHora], [Activo]) VALUES (3, 2, 5, 4, N'Entregado', CAST(N'2026-08-13T20:08:57.067' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Platos] ON 

INSERT [dbo].[Platos] ([IdPlato], [Nombre], [Descripcion], [Precio]) VALUES (1, N'Milanesa con Papas Fritas', N'Milanesa de nalga con papas fritas bastón', CAST(8500.00 AS Decimal(10, 2)))
INSERT [dbo].[Platos] ([IdPlato], [Nombre], [Descripcion], [Precio]) VALUES (2, N'Empanada de Carne', N'Empanada criolla cortada a cuchillo', CAST(1200.00 AS Decimal(10, 2)))
INSERT [dbo].[Platos] ([IdPlato], [Nombre], [Descripcion], [Precio]) VALUES (3, N'Pizza Muzzarella', N'Salsa de tomate, muzzarella y aceitunas', CAST(9800.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Platos] OFF
GO
ALTER TABLE [dbo].[Pedidos] ADD  CONSTRAINT [DF_Pedidos_Estado]  DEFAULT (N'Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Pedidos] ADD  CONSTRAINT [DF_Pedidos_FechaHora]  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Platos] FOREIGN KEY([IdPlato])
REFERENCES [dbo].[Platos] ([IdPlato])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Platos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_Cantidad]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_Estado] CHECK  (([Estado]=N'Entregado' OR [Estado]=N'En preparación' OR [Estado]=N'Pendiente'))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_Estado]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_Mesa] CHECK  (([Mesa]>(0)))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_Mesa]
GO
/****** Object:  StoredProcedure [dbo].[usp_ActualizarPedido]    Script Date: 17/8/2026 20:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     PROCEDURE [dbo].[usp_ActualizarPedido]
    @IdPedido INT,
    @Cantidad INT,
    @Estado   NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoActual NVARCHAR(20);

    SELECT @EstadoActual = Estado
    FROM dbo.Pedidos
    WHERE IdPedido = @IdPedido;

    IF @EstadoActual IS NULL
        THROW 50002, 'El pedido indicado no existe.', 1;

    IF @EstadoActual = N'Entregado'
        THROW 50005, 'Un pedido entregado ya no se puede modificar.', 1;

    IF @Cantidad <= 0
        THROW 50004, 'La cantidad debe ser mayor a cero.', 1;

    IF @Estado NOT IN (N'Pendiente', N'En preparación', N'Entregado')
        THROW 50006, 'El estado indicado no es válido.', 1;

    UPDATE dbo.Pedidos
    SET Cantidad = @Cantidad,
        Estado   = @Estado
    WHERE IdPedido = @IdPedido;
    -- Devolvemos el pedido actualizado para refrescar la tarjeta
    SELECT
        PE.IdPedido  AS idPedido,
        PE.Mesa      AS mesa,
        PL.Nombre    AS plato,
        PE.Cantidad  AS cantidad,
        PL.Precio * PE.Cantidad AS importe,
        PE.Estado    AS estado
    FROM dbo.Pedidos AS PE
    INNER JOIN dbo.Platos AS PL ON PL.IdPlato = PE.IdPlato
    WHERE PE.IdPedido = @IdPedido;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CrearPedido]    Script Date: 17/8/2026 20:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_CrearPedido]
    @Mesa     INT,
    @IdPlato  INT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @Mesa <= 0
    BEGIN
        THROW 50003, 'El número de mesa debe ser mayor a cero.', 1;
    END

    IF @Cantidad <= 0
    BEGIN
        THROW 50004, 'La cantidad debe ser mayor a cero.', 1;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Platos WHERE IdPlato = @IdPlato)
    BEGIN
        THROW 50002, 'El plato indicado no existe.', 1;
    END

    INSERT INTO dbo.Pedidos (Mesa, IdPlato, Cantidad)
    VALUES (@Mesa, @IdPlato, @Cantidad);

    SELECT SCOPE_IDENTITY() AS idPedido;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarPedido]    Script Date: 17/8/2026 20:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_EliminarPedido]
    @IDPedido INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Pedidos
    SET Activo = 0
    WHERE IDPedido = @IDPedido;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarPedidos]    Script Date: 17/8/2026 20:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    PROCEDURE [dbo].[usp_ListarPedidos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PE.IdPedido  AS idPedido,
        PE.Mesa      AS mesa,
        PL.IdPlato   AS idPlato,
        PL.Nombre    AS plato,
        PE.Cantidad  AS cantidad,
        PL.Precio    AS precioUnitario,
        PL.Precio * PE.Cantidad AS importe,
        PE.Estado    AS estado,
        PE.FechaHora AS fechaHora
    FROM dbo.Pedidos AS PE
    INNER JOIN dbo.Platos AS PL ON PL.IdPlato = PE.IdPlato
    ORDER BY PE.FechaHora DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarPlatos]    Script Date: 17/8/2026 20:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    PROCEDURE [dbo].[usp_ListarPlatos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdPlato AS idPlato,
        Nombre  AS nombre,
        Precio  AS precio
    FROM dbo.Platos
    ORDER BY Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RetrocederEstadoPedido]    Script Date: 17/8/2026 20:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_RetrocederEstadoPedido]
    @IDPedido INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoActual VARCHAR(20);
    SELECT @EstadoActual = Estado FROM Pedidos WHERE IDPedido = @IDPedido AND Activo = 1;

    -- Regla de negocio: Entregado es definitivo, y no se puede retroceder si ya está Pendiente
    IF @EstadoActual = 'Entregado'
    BEGIN
        RAISERROR('El pedido ya ha sido Entregado y no puede cambiar de estado.', 16, 1);
        RETURN;
    END

    IF @EstadoActual = 'En preparación'
    BEGIN
        UPDATE Pedidos
        SET Estado = 'Pendiente'
        WHERE IDPedido = @IDPedido;
    END
    -- Puedes agregar más transiciones según tus estados (ej. De 'Listo' a 'En preparación')
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_TotalPorMesa]    Script Date: 17/8/2026 20:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_TotalPorMesa]
    @Mesa INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ISNULL(SUM(p.Cantidad * pl.Precio), 0) AS TotalAPagar
    FROM Pedidos p
    INNER JOIN Platos pl ON p.IdPlato = pl.IdPlato
    WHERE p.Mesa = @Mesa 
      AND p.Activo = 1 
      AND p.Estado <> 'Cancelado';
END;
GO
USE [master]
GO
